version: "3.5"
services:
    mysql:
        image: mysql
        restart: always
        container_name: mysql
        expose:
            - "3306"
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_USER: ${MYSQL_USER}
        volumes:
          - ./mysql:/var/lib/mysql
          - ./database.sql:/docker-entrypoint-initdb.d/1.sql

    spring-boot:
        image: adoptopenjdk/maven-openjdk11
        container_name: spring-boot
        environment:
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_HOST: ${MYSQL_HOST}
        command: mvn clean package spring-boot:run
        working_dir: /src
        volumes:
            - .:/src/
        ports:
            - "80:8080"
        depends_on:
            - mysql
