<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div th:fragment="kanbanColumn (type, taskList)" class="col w-30 mx-1 card">
    <th:block th:switch="${type}">
        <h2 th:case="'backlog'" class="card-header background-blue">Backlog</h2>
        <h2 th:case="'inProgress'" class="card-header background-orange">In Progress</h2>
        <h2 th:case="'done'" class="card-header background-green">Done</h2>
    </th:block>
    <div class="card-body">
        <div th:each="task : ${taskList}" th:object="${task}" class="card mt-1">
            <div class="card-header background-primary">
                <div class="row p-0 m-0 justify-content-space-between">
                    <span>
                        <i th:if="${type} == 'inProgress' or ${type} == 'done'" class="icon fas fa-arrow-left"></i>
                    </span>
                    <span>
                        <i th:if="${type} == 'backlog' or ${type} == 'inProgress'" class="icon fas fa-arrow-right"></i>
                    </span>
                </div>
                <h4 class="p-0 m-0" th:text="*{title}"></h4>
            </div>

            <div class="card-body">
                <div>
                    <b>Task leader: </b>
                    <span th:text="*{taskLeader.firstName} + ' ' + *{taskLeader.lastName}"></span>
                </div>
                <!--            <b>Task members</b>-->
                <!--            <div th:each="user : *{assignedUsers}">-->
                <!--                <p th:text="${user.firstName} + ' ' + ${user.lastName}"></p>-->
                <!--            </div>-->
                <div>
                    <b>Start: </b>
                    <span th:text="*{#dates.format(startDate, 'EEEE, LLLL d, yyyy')}"></span>
                </div>
                <div>
                    <b>End: </b>
                    <span th:text="*{#dates.format(startDate, 'EEEE, LLLL d, yyyy')}"></span>
                </div>
                <div class="row justify-content-center m-0 mt-1">
                    <button class="btn btn-secondary btn-sm mx-1">Edit</button>
                    <button class="btn btn-danger btn-sm mx-1">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>