<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
</head>
<body>
<div th:fragment="taskForm (task, userList, errorMsg)" th:object="${task}">
    <input hidden th:field="*{taskId}">
    <div class="row m-0">
        <label class="label">Title:</label>
        <input class="input" type="text" th:field="*{title}" required>
    </div>

    <div class="row">
        <label class="label">Task leader:</label>
        <select class="input" type="text" th:field="*{taskLeaderId}" required>
            <option th:each="user : ${userList}" th:value="${user.userId}"
                    th:text="${user.firstName} + ' ' + ${user.lastName} + ' - ' + ${user.title.userTitle}"></option>
        </select>
    </div>
    <div class="row">
        <label class="label">Assign task members:</label>
        <select class="input" type="text" th:field="*{assignedUserIds}" th:size="${userList.size()} > 10 ? '10' : ${userList.size()}" multiple id="multipleSelectUser">
            <option th:each="user : ${userList}" th:value="${user.userId}"
                    th:text="${user.firstName} + ' ' + ${user.lastName} + ' - ' + ${user.title.userTitle}"></option>
        </select>
    </div>

    <div class="row">
        <label class="label">Assign task dependencies:</label>
        <select class="input" type="text" th:field="*{taskDependencyIds}" th:size="${taskList.size()} > 10 ? '10' : ${taskList.size()}" multiple id="multipleSelectTask">
            <option th:each="dependencyTask : ${taskList}" th:value="${dependencyTask.taskId}"
                    th:text="${dependencyTask.title}" th:data="${dependencyTask.endDate}"></option>
        </select>
    </div>

    <div class="row">
        <label class="label">Start date:</label>
        <input class="input"
               type="date"
               name="startDate"
               th:value="*{startDate} != null ? *{#temporals.format(startDate, 'yyyy-MM-dd')} :${#dates.format(#dates.createNow(), 'yyyy-MM-dd')} "
               required
        >
    </div>

    <div class="row">
        <label class="label">End date:</label>
        <input class="input"
               type="date"
               name="endDate"
               th:value="*{endDate} != null ? *{#temporals.format(endDate, 'yyyy-MM-dd')} : ${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
               required>
    </div>

    <div class="row" th:if="${errorMsg}">
        <label th:text="${errorMsg}" style="color: red"></label>
    </div>

    <input type="number" th:field="*{projectId}" hidden="true">
    <script>
        function autoMultiselect(e){
            e.preventDefault();
            const select = this;
            const scroll = select.scrollTop;
            e.target.selected = !e.target.selected;

            setTimeout(() => {select.scrollTop = scroll}, 0);
            select.focus();
        }

        function setDateInputs(){
            const dateInputs = document.querySelectorAll("input[type='date']")
            let latestDate = new Date();
            let endDate;
            for(let task of tasks.selectedOptions) {
                endDate = new Date(task.getAttribute("data"));
                if (endDate > latestDate) {
                    latestDate = endDate;
                }
            }
            for(let dateInput of dateInputs){
                let endDateString = latestDate.toISOString().split("T")[0]
                dateInput.setAttribute("min", endDateString)
                dateInput.setAttribute("value", endDateString)
                latestDate.setDate(latestDate.getDate() + 1)
            }
        }
        const users = document.getElementById('multipleSelectUser');
        const tasks = document.getElementById('multipleSelectTask');
        users.onmousedown = e => autoMultiselect(e);
        tasks.onmousedown = e => {
            autoMultiselect(e);
            setDateInputs();
        }
        document.onload = setDateInputs();

    </script>
</div>
</body>
</html>