<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head(title = 'Projects')"></head>
<body>

<div th:replace="includes/topPart :: topPart"></div>

<div class="container justify-content-left">
    <button class="btn btn-primary btn-lg" onclick="document.location.href = '/project/create'">
        Create new Project
    </button>
</div>

<div class="container">
    <div class="card w-100 mb-2" th:each="project, iter : ${projectList}" th:object="${project}">
        <h2 class="card-header" th:text="*{title}"></h2>
        <div class="card-body">
            <div class="pb-1">
                <b>Inception: </b>
                <span th:text="*{#temporals.format(startDate, 'EEEE, LLLL d, yyyy')}"></span>
            </div>
            <div class="pb-1">
                <b>Deadline:</b>
                <span th:text="*{#temporals.format(endDate, 'EEEE, LLLL d, yyyy')}"></span>
            </div>
            <div class="pb-1">
                <b>Price: </b>
                <span th:text="*{projectCost} + ' DKK'"></span>
            </div>
            <div class="pb-1">
                <b>Number of workdays: </b>
                <span th:text="*{projectDuration}"></span>
            </div>
            <div class="row m-0 p-0">
                <button class="btn btn-primary btn-sm"
                        th:onclick="'document.location.href = \'/task?projectId=' + *{projectId} + '\''"
                >
                    View Project
                </button>
                <div th:if="${isAdmin}">
                    <a th:href="'/project/edit?projectId=' + *{projectId}">
                        <button class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                        <button th:id="'activateModal' + ${iter.index}" type="submit" id="delete" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </div>
        </div>
        <div th:replace="includes/confirmModal :: confirmModal(title = 'Are you sure you want to delete: \'' + *{title} + '\'',
                                                                 action = '/project/delete?projectId=' + *{projectId},
                                                                 submitText = 'Delete',
                                                                 num = ${iter.index},
                                                                 activeBtnId = 'activateModal' + ${iter.index})"
        ></div>
    </div>
</div>


</body>
</html>
