<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/head :: head(title = 'Users')"></head>

<div th:replace="includes/topPart :: topPart"></div>

<div class="container m-0">
    <form class="row w-50" action="/user" method="get">
        <b>Search users:</b>
        <input class="input my-1" type="search" name="search" placeholder="Search..."/>
        <button class="btn btn-sm btn-primary">Search</button>
        <a href="/user">
            <button type="button" class="btn btn-sm btn-secondary">Reset</button>
        </a>
    </form>

</div>

<div class="container justify-content-left my-0">
    <button class="btn btn-primary btn-sm" onclick="document.location.href='/user/create'">Create new User</button>
</div>


<div class="container">
    <div th:each="user, iter : ${userList}" class="card w-100 mb-1" th:object="${user}">
        <div class="card-body row p-1 m-0">
            <span class="w-25">
                <b>Name:</b>
                <span th:text="*{firstName}"></span>
                <span th:text="*{lastName}"></span>
            </span>

            <span class="w-25">
                <b>Hourly Salary:</b>
                <span th:text="*{hourlySalary} + ' DKK'"></span>
            </span>

            <span class="w-25">
                <b>Title:</b>
                <span th:text="*{title.userTitle}"></span>
            </span>

            <span class="">
                <button class="btn btn-secondary btn-sm" th:onclick="'document.location.href = \'/user/edit?userId=' + *{userId} + '\''">Edit</button>
                <button class="btn btn-danger btn-sm" th:id="'activateModal' + ${iter.index}">Delete</button>
            </span>
        </div>
        <div th:replace="includes/confirmModal :: confirmModal(title = 'Are you sure you want to delete user: \'' + *{firstName} + ' ' + *{lastName} + '\'',
                                                                 action = '/user/delete?userId=' + *{userId},
                                                                 submitText = 'Delete',
                                                                 num = ${iter.index},
                                                                 activeBtnId = 'activateModal' + ${iter.index})"
        ></div>
    </div>
</div>
</body>
</html>
