<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

<form action="/createUser/submit" th:object="${user}" method="post">
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" required>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" required>
    <label>Title:</label>
    <select type="number" th:field="*{title.userTitleId}" required>
        <option th:each="userTitle : ${userTitleList}" th:value="${userTitle.userTitleId}"
                th:text="${userTitle.userTitle}"></option>
    </select>
    <label>Hourly Salary:</label>
    <input type="number" th:field="*{hourlySalary}" required>
    <label>Username:</label>
    <input type="text" th:field="*{username}" required>
    <label>Password:</label>
    <input type="text" th:field="*{password}" required>
    <label>Create as admin?:</label>

    <select th:field="*{admin}" required>
        <option th:value="0">No</option>
        <option th:value="1">Yes</option>
    </select>


    <button type="submit">Create</button>
</form>

</body>
</html>