<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/includes/head :: head(title = 'Create User')"></head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<h2 class="text-align-center">Create new User</h2>

<div class="container justify-content-center">
    <form action="/user/create/submit" th:object="${user}" method="post">
        <div th:replace="/includes/userForm :: userForm(user = ${user}, userTitleList = ${userTitleList})"></div>
        <div class="row mt-2">
            <button class="btn btn-secondary btn-md px-2" type="button" onclick="document.location.href = '/user'">
                Cancel
            </button>
            <button class="btn btn-primary btn-md px-2" type="submit">Create</button>
        </div>
    </form>
</div>

</body>
</html>