<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/includes/head :: head(title = 'Create Task')"></head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<h2 class="text-align-center" th:text="'Create new task for project \'' + ${projectName} + '\'' "></h2>

<div class="container justify-content-center">
    <form action="/task/create/submit" method="post">
        <div th:replace="/includes/taskForm :: taskForm(task=${task}, userList=${userList}, errorMsg=${errorMsg})"></div>
        <div class="row mt-2">
            <button class="btn btn-secondary btn-md px-2" type="button"
                    th:onclick="'document.location.href = \'/task?projectId=' + ${task.projectId} + '\''"
            >
                Cancel
            </button>
            <button class="btn btn-primary btn-md px-2" type="submit">Create</button>
        </div>
    </form>
</div>
</body>
</html>