<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
    <link rel="stylesheet" type="text/css" href="/static/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<form action="/createProject/submit" th:object="${project}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}" required>
    <label>Project leader:</label>
    <input type="text" th:field="*{projectLeaderId}" required>
    <label>Assign project members:</label>
    <select type="text" th:field="*{assignedUsers}">
        <option value="1">Phillip</option>
        <option value="2">Jens</option>
        <option value="3">Jørgen</option>
        <option value="4">Matias</option>
        <option value="5">Jytte</option>
    </select>
    <label>Project start date:</label>
    <input type="date" th:field="*{startDate}" required>
    <label>Project end date:</label>
    <input type="date" th:field="*{endDate}" required>
    <button type="submit">Create</button>
</form>

</body>
</html>