<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" type="text/css" href="/static/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<form action="/createTask/submit" method="post">
    <label>Titel:</label>
    <input type="text" required>
    <label>Task leder:</label>
    <input type="text" required>
    <label>Tildel ansatte:</label>
    <select type="number">
        <option>Phillip</option>
        <option>Jens</option>
        <option>Jørgen</option>
        <option>Matias</option>
        <option>Jytte</option>
    </select>
    <label>Deadline:</label>
    <input type="date" required>
    <label>Afhængighed:</label>
    <input type="number">
    <button type="submit">Create</button>
</form>

</body>
</html>