<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<form action="/createTask/submit" th:object="${task}" method="post">
    <label>Title:</label>
    <input type="text" th:field="*{title}" required>

    <label>Task leader:</label>
    <select type="text" th:field="*{taskLeaderId}" required>
        <option th:each="user : ${userList}" th:value="${user.userId}"
                th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
    </select>
    <label>Assign task members:</label>
    <select type="text" th:field="*{assignedUserIds}" multiple>
        <option th:each="user : ${userList}" th:value="${user.userId}"
                th:text="${user.firstName} + ' ' + ${user.lastName}"></option>
    </select>
    <label>Assign task dependencies:</label>
<!--    <select type="text" th:field="*{taskDependencyIds}" multiple>-->
<!--        <option th:each="user : ${userList}" th:value="${user.userId}"-->
<!--                th:text="${user.firstName} + ' ' + ${user.lastName}"></option>-->
<!--    </select>-->
    <label>Project to add task to:</label>
    <select type="text" th:field="*{projectId}" required>
        <option th:each="project : ${projectList}" th:value="${project.projectId}"
                th:text="${project.title}"></option>
    </select>

    <label>Project start date:</label>
    <input type="date" th:field="*{startDate}" required>

    <label>Project end date:</label>
    <input type="date" th:field="*{endDate}" required>

    <button type="submit">Create</button>
</form>

</body>
</html>