<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
    <title>Edit Task</title>
</head>
<body>
<div th:replace="/includes/topPart :: topPart"></div>

<h2 class="text-align-center" th:text="'Edit task for project \'' + ${projectName} + '\'' "></h2>

<div class="container justify-content-center">
    <form action="/createTask/submit" method="post" class="w-25">
        <div th:replace="/includes/taskForm :: taskForm(task=${task}, userList=${userList})"></div>
        <div class="row mt-2">
            <button class="btn btn-secondary btn-md px-2" type="button"
                    th:onclick="'document.location.href = \'/task?projectId=' + ${task.projectId} + '\''"
            >
                Cancel
            </button>
            <button class="btn btn-primary btn-md px-2" type="submit">Create</button>
        </div>
    </form>
</div>
</body>
</html>