<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create project</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>
    <div th:replace="/includes/topPart :: topPart"></div>
    <h2 style="text-align: center" th:text="'Editing project: ' + ${project.title}"></h2>
    <div class="container justify-content-center">
        <form th:action="'/project/edit/submit?projectId=' + *{project.projectId}" method="post" class="w-25">
            <div th:replace="/includes/projectForm :: projectForm(project=${project}, userList=${userList})"></div>

            <div class="row mt-2">
                <button class="btn btn-secondary btn-md px-2" type="button" onclick="document.location.href = '/project'">
                    Cancel
                </button>
                <button class="btn btn-primary btn-md px-2" type="submit">Create</button>
            </div>
        </form>
    </div>
</body>
</html>