<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/static/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>
show list of employees and create new employees.

<form method="get" action="/createEmployee">
    <button type="submit">Opret ny medarbejder</button>
</form>



<div th:each="employee : ${employeeList}">
   <p th:text="${employee.firstName}"></p>
   <p th:text="${employee.lastName}"></p>
</div>

</body>
</html>