<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<div class="container justify-content-left">
    <button class="btn btn-primary btn-lg" onclick="document.location.href = '/createProject'">
        Create new Project
    </button>
</div>

<div class="container">
    <div class="card w-100 mb-2" th:each="project : ${projectList}" th:object="${project}">
        <h2 class="card-header" th:text="*{title}"></h2>
        <div class="card-body">
            <p th:text="*{startDate}"></p>
            <p th:text="*{endDate}"></p>
            <div class="row m-0 p-0">
                <button class="btn btn-primary btn-sm"
                        th:onclick="'document.location.href = \'/seeTasks?projectId=' + *{projectId} + '\''"
                >
                    View Project
                </button>
                <button class="btn btn-danger btn-sm">Delete Project</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>