<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>


<div th:each="project : ${projectList}">
    <p th:text="${project.projectId}"></p>
    <p th:text="${project.title}"></p>

</div>

<div>
<p th:text="${singleProject.title}"> </p>
</div>


</body>
</html>