<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/includes/head :: head(title = 'Project: ' + ${project.title})"></head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>

<a href="/project">
   <button class="ml-2 mt-1 btn btn-secondary btn-sm">Go back</button>
</a>

<h1 th:text="${project.title}" class="text-align-center m-0 p-0"></h1>


<div class="container justify-content-space-between">
    <button class="btn btn-primary btn-lg"
            th:onclick="'document.location.href=\'/task/create?projectId=' + ${project.projectId} + '\''">+ Add new task
    </button>
    <a th:href="'/task/gannt?projectId=' + ${project.projectId}">
        <button class="btn btn-primary btn-lg">Display GANNT diagram</button>
    </a>
</div>


<div class="container justify-content-left">
    <div th:each="task,iter : ${taskList.tasks}" th:object="${task}" class="card m-1">
        <div class="card-header background-primary">
            <h4 class="p-0 m-0" th:text="*{title}"></h4>
        </div>

        <div class="card-body">
            <div>
                <b>Leader: </b>
                <span th:text="*{taskLeader.firstName} + ' ' + *{taskLeader.lastName}"></span>
            </div>
            <b>Assignees:</b>
            <ul>
                <li th:each="user : *{assignedUsers}" th:text="${user.firstName} + ' ' + ${user.lastName}"></li>
            </ul>
            <div>
                <b>Start: </b>
                <span th:text="*{#temporals.format(startDate, 'EEEE, LLLL d, yyyy')}"></span>
            </div>
            <div>
                <b>End: </b>
                <span th:text="*{#temporals.format(endDate, 'EEEE, LLLL d, yyyy')}"></span>
            </div>
            <div class="row justify-content-center m-0 mt-1">
                <button class="btn btn-secondary btn-sm mx-1"
                        th:onclick="'document.location.href=\'/task/edit?taskId=' + *{taskId} + '\''">Edit
                </button>
                <button th:id="'activateModal' + ${iter.index}" class="btn btn-danger btn-sm mx-1">Delete</button>
            </div>
        </div>
        <div th:replace="/includes/confirmModal :: confirmModal(title = 'Are you sure you want to delete: \'' + *{title} + '\'',
                                                                 action = '/task/delete?taskId=' + *{taskId} + '&projectId=' + *{projectId},
                                                                 submitText = 'Delete',
                                                                 num = ${iter.index},
                                                                 activeBtnId = 'activateModal' + ${iter.index})"
        ></div>
    </div>
</div>

<div class="container">
    <h2>Project Hours:</h2>
    <div th:each="title : ${taskList.titleHours}" class="card w-100 mb-1">
        <div class="card-body ">
            <div class="row m-0 p-0 justify-content-space-between">
                <h4 class="p-0 m-0" th:text="${title.key}"></h4>
                <h4 class="p-0 m-0" th:text="'Total Hours: ' + ${title.value}"></h4>
            </div>
            <div th:each="user : ${taskList.userHours}" class="row m-0 p-0">
                <div th:if="${title.key == user.key.title.userTitle}">
                    <p th:text="${user.key.firstName} + ' ' + ${user.key.lastName} + ' - ' + ${user.value} + ' Hours'"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>