<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>See Tasks</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>
<body>

<div th:replace="/includes/topPart :: topPart"></div>


<div th:each="task : ${taskList}">
    <b>Task</b>
    <p th:text="${task.title}"></p>
    <b>Task leader</b>
    <p th:text="${taskLeader.firstName} + ' ' + ${taskLeader.lastName}"></p>
    <b>Task members</b>
    <div th:each="user : ${usersOnTaskList}">
        <p th:text="${user.firstName} + ' ' + ${user.lastName}"></p>
    </div>
    <b>Start date</b>
    <p th:text="${task.startDate}"></p>
    <b>End date</b>
    <p th:text="${task.endDate}"></p>
    <br>
    <br>
    <br>

</div>


</body>
</html>