<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>

<form method="post" action="/testPost">
    <select multiple name="users" class="multipleSelect" id="multipleSelect">
        <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.firstName}"></option>
    </select>
    <button type="submit">Submit</button>
</form>

</body>
<script>
    var checkList = document.getElementById('multipleSelect');
    checkList.onmousedown = function(e) {
        e.preventDefault();
        var select = this;
        var scroll = select.scrollTop;
        e.target.selected = !e.target.selected;

        setTimeout(() => {select.scrollTop = scroll}, 0);
        select.focus();
    }
</script>
</html>