<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/topPart.css">
</head>

<div th:replace="/includes/topPart :: topPart"></div>

<div class="container justify-content-left">
    <button class="btn btn-primary btn-lg" onclick="document.location.href='/createUser'">Create new User</button>
</div>

<div class="container">
    <div th:each="user : ${userList}" class="card w-100 mb-1">
        <div class="card-body row p-1 m-0">
            <span class="w-25">
                <b>Name:</b>
                <span th:text="${user.firstName}"></span>
                <span th:text="${user.lastName}"></span>
            </span>

            <span class="w-25">
                <b>Hourly Salary:</b>
                <span th:text="${user.hourlySalary}"></span>
            </span>

            <span class="w-25">
                <b>Title:</b>
                <span th:text="${user.title.userTitle}"></span>
            </span>

            <span class="">
                <button class="btn btn-secondary btn-sm">Edit</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </span>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--<div th:object="${singleUser}">-->
<!--    <p th:text="*{firstName}"></p>-->
<!--    <p th:text="*{lastName}"></p>-->
<!--</div>-->

</body>
</html>