* {
    margin: 0;
    padding: 0;
}

.imgHeader {


    max-height: 100%;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}

.boxLoginText {
    font-style: inherit;

}

.boxLogin {
    position:absolute;
    top:40%;
    left:50%;
    width: 45%;
    transform: translate(-50%,0%);
    min-height: 25%;
    min-width: 450px;
    max-width: 800px;
    border-radius: 12px;

}

.boxHeaderLogin {

    background: darkgray;
    height: 100px;
    line-height: 100px;
    border-radius: 12px 12px 0 0;
    text-align: center;
}

.loginText {
    background-color: darkslategray;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    font-size: 28px;
    padding: 25px;
    min-width: 10px;

    margin: 5px;

}

.text{
    min-width: 35%;
    background-color: #cccccc;
    font-size: 25px;
    text-align: center;

}

.button {
    background-color: darkslategray;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    min-width: 10px;
    cursor: pointer;
    width: 25%;
    margin: 5px;

}

.button:hover {
    opacity: 0.8;
    background-color: darkslategray;
}