
/* Display */
.d-flex{
    display: flex;
}


/* Padding */
.p-0 {
    padding: 0 ;
}
.p-1 {
    padding: 1rem ;
}
.p-2 {
    padding: 2rem ;
}
.p-3 {
    padding: 3rem ;
}
.p-4 {
    padding: 4rem ;
}
.p-5 {
    padding: 5rem ;
}

.py-0 {
    padding-top: 0;
}
.py-1 {
    padding-top: 1rem ;
}
.py-2 {
    padding-top: 2rem ;
}
.py-3 {
    padding-top: 3rem ;
}
.py-4 {
    padding-top: 4rem ;
}
.py-5 {
    padding-top: 5rem ;
}

/* Margin */
.m-0 {
    margin: 0 ;
}
.m-1 {
    margin: 1rem ;
}
.m-2 {
    margin: 2rem ;
}
.m-3 {
    margin: 3rem ;
}
.m-4 {
    margin: 4rem ;
}
.m-5 {
    margin: 5rem ;
}

.border {
    border: 1px solid
}

.border-black {
    border-color: black;
}

.border-light-grey {
    border-color: lightgrey;
}

/* Multiple Select */
.multipleSelect {
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.multipleSelect option:checked {
    background-color: rgba(0, 0, 255, 0.4);

}