.navbar {
    background-color: darkslategray ;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    max-height: 75px;
}
.navbarItem {
    background-color: darkslategray;
    display: table-cell;
    vertical-align: text-top;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Serif;
    padding: 10px;
    min-width: 10%;
    cursor: pointer;
    border:none;
    transition: all 0.5s ease-in-out;
    border-top: 10px solid darkslategray;
    border-bottom: 10px solid darkslategray;
}

.navbarItem:hover{
    background-color: white;
    color: darkslategray;
}

.navbarBrand, .navbarItem {
    text-decoration: none;
}