.navbar {
    background-color: darkslategray ;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    max-height: 75px;
}
.navbarItem {
    background-color: darkslategray;
    display: table-cell;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: serif;
    padding: 10px;
    min-width: 10%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 10px solid darkslategray;
}

.navbarItem:hover{
    background-color: white;
    color: darkslategray;
}

.navbarBrand, .navbarItem {
    text-decoration: none;
}