<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/topPart.css">
    <title>topPart</title>
</head>

<body>
<div th:fragment="topPart">

    <div class="navbar">
        <button class="navbarItem" onclick="document.location.href= '/project'">
            Projects (EDITED )
        </button>
        <button th:if="${isAdmin}" class="navbarItem" onclick="document.location.href='/user'">
            Employees
        </button>
        <button class="navbarItem" onclick="document.location.href='/logout'">
            Logout
        </button>

    </div>
</div>


</body>
</html>
